.BoxModel{
	width: 75%;
	height: 75%;
	padding-top: 40%;
	padding-left: 40%;
	border: 20px solid black;
	margin: 40px;
}
div p{
	display: inline-block;
	width: 200px;
	height: 200px;
	color: darkgray;
}
.uno{
	background: yellow;
	float: right;
}
.dos{
	background: aliceblue;
	float: right;

}
.tres{
	background: cyan;
	float: right;

}
.cuatro{
	background: pink;
	float: right;

}
.cinco{
	background: lightgreen;
	float: right;

}